<div class="container">
    <div class="container mt-2">
      <!--   <div class="card card-block mb-2">
      <h4 class="card-title">Card 1</h4>
      <p class="card-text">Welcom to bootstrap card styles</p>
      <a href="#" class="btn btn-primary">Submit</a>
      </div>   -->
      <div class="row">
        <div class="col-md-1 col-sm-6"></div>

        <div class="col-md-3 col-sm-6">
          <div class="card">
            <img src="assets/images/pelomundo1.jpg" [routerLink]="['/americas']">
            <h5 class="card-title  mt-3 mb-3">AMÉRICAS</h5> 
          </div>
        </div>

        <div class="col-md-1 col-sm-6"></div>

        <div class="col-md-3 col-sm-6">
          <div class="card">
            <img src="assets/images/europa.jpg" alt="Photo of sunset">
            <h5 class="card-title  mt-3 mb-3">EUROPA</h5>
          </div>
        </div>

        <div class="col-md-1 col-sm-6"></div>

        <div class="col-md-3 col-sm-6">
          <div class="card">
            <img src="assets/images/africa.jpg" alt="Photo of sunset">
            <h5 class="card-title  mt-3 mb-3">AFRICA</h5>
          </div>
        </div>

        <div class="col-md-2"></div>
      </div>
    </div>
</div>
