<!DOCTYPE html>
<html>
  <body>
    <!-- Hero section -->
    <section class="hero bg-center bg-cover" src="assets/images/pelomundo1.jpg">
      <div class="dark-overlay py-5">
        <div class="overlay-content">
          <div class="container py-5 text-white text-center">
            <h1>Blog listing</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor.</p>
          </div>
        </div>
      </div>
    </section>
    <!-- Blog listing -->
    <section class="pt-5">
      <div class="container pt-5">
        <div class="row mb-5">
          <div class="col-lg-8">
            <div class="row text-center">

              <!--AQUI É AREA DE POST-->

              <div class="col-lg-6 mb-5"><a><img class="img-fluid mb-4" src="assets/images/pelomundo1.jpg" alt=""/></a>
                <ul class="list-inline small text-uppercase mb-0">
                  <li class="list-inline-item me-0 text-gray align-middle">By </li>
                  <li class="list-inline-item align-middle me-0"><a class="fw-bold reset-anchor" href="#!"> Maria Fernanda</a></li>
                  <li class="list-inline-item text-gray align-middle me-0">|</li>
                  <li class="list-inline-item text-gray align-middle"> 22 Mar 2018</li>
                </ul>
                <h3 class="h4 mt-2"> <a class="reset-anchor" href="post.html">Um dia no Uruguai</a></h3>
                <p class="text-small mb-1">Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore.</p><a class="btn btn-link" href="index.html">Continue reading</a>
              </div>

              <!--AQUI TERMINA A AREA DE POST-->

            </div>
            <!-- Listing navigation -->
            <div class="p-4 bg-light mb-5">
              <div class="row gy-2">
                <div class="col-sm-6 text-center text-sm-start"><a class="btn btn-outline-secondary btn-sm" href="#!"><i class="fas fa-angle-left me-2"></i>Prev posts</a></div>
                <div class="col-sm-6 text-center text-sm-end"><a class="btn btn-outline-secondary btn-sm" href="#!">Next posts<i class="fas fa-angle-right ms-2"></i></a></div>
              </div>
            </div>
          </div>
          <!-- Sidebar -->
          <div class="col-lg-4">
            <!-- Categories widget -->
            <div class="mb-5 text-center">
                <a class="category reset-anchor bg-cover bg-center mb-2" href="#!" style="background: url(assets/images/destinos.jpg)">
                    <p class="category-title text-uppercase small">Lifestyle</p>
                </a>
                <a class="category reset-anchor bg-cover bg-center mb-2" href="#!">
                    <i class="fotos" src="assets/images/europa.jpg"></i>
                    <p class="category-title text-uppercase small">Travel</p>
                </a>
                <a class="category reset-anchor bg-cover bg-center" href="#!" style="background: url(img/category-3.jpg)">
                    <p class="category-title text-uppercase small">Vacation</p>
                </a>
            </div>
            <!-- Newsletter widget -->
            <div class="mb-5">
                <h3 class="h5">Navegando em Poesia</h3>
                <p class="text-sm text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.</p>
                <div class="row gx-0">
                  <div class="col">
                      <div class="overlay-content"><img class="img-fluid" src="assets/images/libro2.jpeg" alt=""></div></div>
                </div>
            </div>
            <!-- Latest posts widget -->
            <div class="mb-5">
              <h3 class="h5">Latest posts</h3>
              <p class="text-sm text-muted mb-4">Lorem ipsum dolor sit, consectetur adipisicing elit, sed do eiusmod.</p>
              <ul class="list-unstyled">
                <li class="d-flex mb-1"><a href="post.html"><img src="img/recent-posts-thumb-1.jpg" alt="" width="80"></a>
                  <div class="media-body ms-3">
                    <p class="small text-primary text-uppercase mb-0">5 Aug 2018</p>
                    <h6 class="mb-1"><a class="reset-anchor" href="post.html">The top climbing tours</a></h6>
                    <p class="small text-muted">Lorem ipsum dolor sit, consectetur adipisicing elit, sed.</p>
                  </div>
                </li>
                <li class="d-flex mb-1"><a href="post.html"><img src="img/recent-posts-thumb-2.jpg" alt="" width="80"></a>
                  <div class="media-body ms-3">
                    <p class="small text-primary text-uppercase mb-0">5 Aug 2018</p>
                    <h6 class="mb-1"><a class="reset-anchor" href="post.html">Travel guide to Canada</a></h6>
                    <p class="small text-muted">Lorem ipsum dolor sit, consectetur adipisicing elit, sed.</p>
                  </div>
                </li>
                <li class="d-flex mb-1"><a href="post.html"><img src="img/recent-posts-thumb-3.jpg" alt="" width="80"></a>
                  <div class="media-body ms-3">
                    <p class="small text-primary text-uppercase mb-0">5 Aug 2018</p>
                    <h6 class="mb-1"><a class="reset-anchor" href="post.html">A day in Tailand</a></h6>
                    <p class="small text-muted">Lorem ipsum dolor sit, consectetur adipisicing elit, sed.</p>
                  </div>
                </li>
              </ul>
            </div>
            <!-- worldpackers widget -->

          </div>
        </div>
      </div>
    </section>
  </body>
</html>