<div class="container">
    <div class="margem1">
        <div class="row justify-content-md-center">
            <div class="col col-lg-2">
              
            </div>
            <div class="col-md-auto">
                <h1 class="titulo">SOBRE O CULTURA NAVEGÁVEL</h1>
                <p>
                    O Cultura Navegável nasce de uma vontade de contar histórias dos lugares e pessoas que conheci viajando o mundo. Encontrar diferentes formas de viver, de trabalhar e de se relacionar, me mostrou que quase não temos informações sobre a diversidade cultural do mundo e das comunidades espalhadas pelo globo. A grande mídia e mesmo os principais sites e blogs da internet reforçam estereótipos e reduzem os países fora do eixo Europa-América do Norte a tragédias, pobreza e desgraça, trazendo o medo e o desconhecimento, que gera também preconceito com tudo aquilo que nos é diferent
                </p>
                <p>
                    O Cultura Navegável deseja quebrar a forma tradicional de transmitir informação e relatar histórias de lugares. Muito além de relatos e dicas de viagem, aqui é um espaço de quebra de paradigmas, inspiração para viajar sozinha, valorização de diferentes formas de arte e cultura e também reflexões de alternativas sustentáveis na viagem e no cotidiano.
                </p>
                <p>
                    Esse projeto é de uma mulher, jornalista, viajante solo, que traz lugares que conheceu através de histórias, artigos, poesias e fotos. Com o principal objetivo de conhecer culturas e compreender o outro, a viagem também é uma forma de quebrar preconceitos, ideias enraizadas e expandir a consciência para uma maior compreensão sociocultural, sem contar na jornada de autoconhecimento que viajar o mundo proporciona.
                </p>  
            </div>
            <div class="col col-lg-2">
                  
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <div class="card" style="border: none">
                    <img src="../../assets/images/tirol.jpg" class="card-img" alt="#">
                    <div class="card-img-overlay">
                    </div>
                </div>
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4">
                <div class="card" style="border: none">
                    <img src="assets/images/sobreeu1.jpg" class="card-img" alt="#">
                    <div class="card-img-overlay">
                    </div>
                </div>
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4">
                <div class="card" style="border: none">
                    <img src="assets/images/europa.jpg" class="card-img" alt="#">
                    <div class="card-img-overlay">
                    </div>
                </div>
            </div><!-- /.col-lg-4 -->
        </div><!-- /.row -->
    </div>
    <hr>
    <div class="margem2">
        <div class="row">
            <div class="col">
                <a href="#">
                    <img class="circular" text-aling="aling-center" src="../../assets/images/contato.jpg" width="400" height="450">
                </a>
            </div>
            <div class="col">
                <h2>A AUTORA</h2>
                <p>
                    Maria Fernanda Romero cresceu em Ubatuba, Litoral Norte de São Paulo, onde se apaixonou por praia, mar e aprendeu que uma vida simples, sem muito luxo, mas com tempo para aproveitar o dia pode ser uma forma mais gostosa de viver a vida. Formada em Jornalismo pela PUC - São Paulo, Brasil, a viajante começou um mochilão por curiosidade, ainda na faculdade e ali descobriu diversas outras formas de viver.
                </p>
                <p>
                    Decidida a experimentar um estilo de vida diferente, a jornalista se mudou aos 21 anos para Florianópolis, sul do Brasil. Ali a ideia de viajar o mundo e suas tantas camadas amadureceu e deu asas a uma viagem sem passagem de volta. Durante os três anos seguintes, Maria Fernanda viajou por mais de 30 países em três continentes distintos: Europa, África e América. 
                </p>
                <p>
                    A viagem inspirou o livro "Navegando em Poesia" e deu vida às histórias contadas no <a href="https://www.instagram.com/culturanavegavel/">instagram</a>, dicas e relatos desse blog. A viajante já morou em uma pequena vila no Sul de Portugal e em Barcelona, onde estudou Fotojornalismo na Grisart e um Mestrado em Antropologia Cultural na Universitat Autónoma de Barcelona.
                </p>
                <p>
                    Hoje leva uma vida nômade, viajando por onde seu coração vibra.
                </p>
            </div>
        </div>
    </div>
    <div id="projectFacts" class="sectionClass">
        <div class="fullWidth eight columns">
            <div class="projectFactsWrap ">
                <div class="item wow fadeInUpBig animated animated" data-number="12" style="visibility: visible;">
                    <i class="fa-solid fa-calendar-days"></i>
                    <p id="number1" class="number">72</p>
                    <span></span>
                    <p>MESES NA ESTRADA</p>
                </div>
                <div class="item wow fadeInUpBig animated animated" data-number="55" style="visibility: visible;">
                    <i class="fa-solid fa-earth-africa"></i>
                    <p id="number2" class="number">35</p>
                    <span></span>
                    <p>PAÍSES</p>
                </div>
                <div class="item wow fadeInUpBig animated animated" data-number="359" style="visibility: visible;">
                    <i class="fa-solid fa-computer"></i>
                    <p id="number3" class="number">71</p>
                    <span></span>
                    <p>POST</p>
                </div>
                <div class="item wow fadeInUpBig animated animated" data-number="246" style="visibility: visible;">
                    <i class="fa fa-camera"></i>
                    <p id="number4" class="number">500</p>
                    <span></span>
                    <p>FOTOS PUBLICADAS</p>
                </div>
            </div>
        </div>
    </div>
</div>