<section>
    <div class="container ultimo-post">
        <header class="mb-5"> 
            <h2>Américas Postagens</h2>
        </header>
        <div class="row gy-4">
            <div class="col-md-4"><a class="mb-3" [routerLink]="['/uruguai']"><img class="img-fluid" src="assets/images/uruguaicapa0.jpg" alt="..."/></a>
                <div class="d-flex align-items-center justify-content-between mb-2">
                    <small class="text-gray-500"> Março | 2017 </small>
                    <a class="small fw-bold text-uppercase small" href="!#"></a>
                </div>
                <h3 class="h4 text-center"><a class="text-dark" [routerLink]="['/uruguai']">Uruguai</a></h3>
            </div>
        </div>

        <hr>

    </div>
</section>