<body>
    <section class="py-5">
      <div class="container text-center">
        <h1>De Florianopólis até Montevideú: Um roteiro de baixo custo pelo Uruguai</h1>
        <p class="mb-3">Planeje sua viagem para o Uruguai com dicas de como economizar e aproveitar ao máximo a sua experiência pela América do Sul.</p>
        <ul class="list-inline small text-uppercase mb-0">
          <li class="list-inline-item align-middle me-0"><a class="fw-bold reset-anchor"><i>POR MARIA FERNANDA ROMERO | Març 2017</i></a></li>
        </ul>
      </div>
      
      <img class="w-100 py-5" src="" alt="">

      <div class="container">
        <div class="row gy-5">
          <div class="col-lg-8">
            <p class="text-muted mb-5">Morando em Florianópolis durante o verão de 2017 conheci inúmeros uruguaios  e argentinos. Isso me despertou uma vontade imensa de fazer uma viagem pela América do Sul e melhorar meu espanhol. Nesse post vou compartilhar o meu roteiro de viagem , o que fazer  no uruguai e o preço dessa viagem para o Uruguai.</p>
            <p class="text-muted mb-5"> Vem navegar comigo!</p>
            <h2>De Florianopólis até Montevideú</h2>
            <p class="text-muted mb-5">Fui de ônibus pela empresa TTL até a cidade de Rocha, capital do departamento de Rocha. As empresas de ônibus que fazem o trajeto são TTL e EGA, os horários mudam conforme a época do ano. É possível fazer a viagem São Paulo x Uruguai de ônibus, assim como de outras capitais brasileiras, mas saíndo do sul fica mais pertinho e menos cansativo. </p>
            <p class="text-muted mb-5">Até Porto Alegre é praticamente direto, apenas uma parada de 30 minutos em Sombrio, quase na divisa dos estados Santa Catarina e Rio Grande do Sul. Na capital gaúcha tivemos que trocar e duas horas depois, no município de São Lourenço do sul a terceira parada. Faltavam aproximadamente 6h.</p>
            <p class="text-muted mb-5">O Chuí é uma das cidades brasileiras que fazem fronteira com o Uruguai, e é a mais usada por brasileiros, principalmente para comprar, uma vez que a cidade é lotada de Free shops. 60 km depois da fronteira, o primeiro balneário uruguaio, Punta Del Diablo.</p>
            <figure>
              <p><img src="assets/images/uruguaipost/uruguaipost1.jpg"alt="#">
              <figcaption>
                <i>Liberdad o Muerte: bandeira da independência uruguaia</i>
              </figcaption>
            </figure>
            <p class="text-muted mb-5">Eu desci na capital do departamento, cidade de Rocha. O departamento é composto pelas cidades Punta Del Diablo, La Paloma, Rocha entre outras. As casas simples, quase sempre terréas, têm janelas sempre grandes e um ar um pouco antigo e sempre tranquilo e aconchegante. Os poucos carros e muitas praças das cidades colaboram com essa sensação de eterna tranquilidade.</p>
            <figure>
              <p><img src="assets/images/uruguaipost/uruguaipost2.jpg"alt="#">
              <figcaption>
                <i>Farol de Cabo Polônio</i>
              </figcaption>
            </figure>
            <p class="text-muted mb-5">De Rocha fui para Cabo Polônio, Reservarei um post exclusivamente a esse pedacinho do paraíso. De Cabo Polônio fui à capital, Montevidéu e me impressionei com as diferenças com nossas cidades brasileiras.</p>
            <p class="text-muted mb-5">A cidade é limpa, em todos os locais lixeiras, inclusive separando o lixo reciclável. Não há moradores de ruas ou animais abandonados, há um respeito no semblante das pessoas, que assim como nas cidades menores vivem com tranquilidade e segurança. Há muita cultura na cidade, opções de filme gratuito em lugares como na Sala Zitarrosa, muitos museu e parques.</p>
            <figure>
              <p><img src="assets/images/uruguaipost/uruguaipost3.jpg"alt="#">
              <figcaption>
                <i>Ciudad Vieja Montevideu</i>
              </figcaption>
            </figure>
            <p class="text-muted mb-5">Os uruguaios falam sobre política. Há uma variedade de jornais com diferentes ideologias, assim como há luta. Presenciei uma ocupação em um prédio na Ciudad Vieja. Escutei de mais de um uruguaio que, os brasileiros "aceitam tudo". Há debates nas cidades em geral e muita discussão política. Particularmente me aprofundei no tema da legalização da cannabis.</p>
            <h2>Legislação e Cannabis</h2>
            <p class="text-muted mb-5">Em 2015 o presidente José Mujica legalizou o cultivo e uso de maconha medicinal e recreativa no país, se tornando o primeiro país no mundo a legalizar maconha. Atualmente a cannabis é vendida em farmácias e Associação de fumadores. É necessário fazer um registro de usuário e turistas não podem comprar maconha.</p>
            <p class="text-muted mb-5">Uma das vantagens da legalização é o controle. Quando algo é proibido perdemos o controle sobre ele, legalizar é controlar o acesso, a qualidade e também as pessoas que podem comprar, evitando por exemplo, o acesso por menores de idade. Por outro lado, em um país latinoamericano, onde as autoridades são tão corruptas e a polícia é militarizada e autoritária esse "controle" ainda gera desconfiança em grande parte da população.</p>
            <p class="text-muted mb-5">Ainda há medo entre os usuários de cannabis no Uruguai, que muitas vezes optam em continuar plantando irregularmente, até porque o IRCCA, órgão responsável pelo cumprimentos das leis relacionadas a planta, é extramente burocrático e muitas vezes rígido.</p>
            <figure>
              <p><img src="assets/images/uruguaipost/uruguaipost4.jpg"alt="#">
              <figcaption>
                <i>Universidade Nacional do Uruguai em Montevideu</i>
              </figcaption>
            </figure>
            <p class="text-muted mb-5">Voltei para o Brasil de carona pelo aplicativo Blablacar até a capital gaúcha, Porto Alegre. Muito atencioso o motorista parou em outros dois pontos turísticos: Punta Ballena e Punta del Este.</p>
            <h3>Punta Del Este</h3>
            <p class="text-muted mb-5">Punta Del Este, localizada no Departamento de Maldonado, é provavelmente o destino mais famoso da América do Sul. A revista Forbes, em 2008, o classificou como o balneário mais luxoso do continente. O maior Hotel e Casino da América do Sul também está por lá.</p>
            <p class="text-muted mb-5">Apesar de todo esse ar luxoso, a praia dessa punta é maravilhosa e o pôr-do-sol do porto é inacreditável, andar de bicicleta pelo balneário também é uma delícia. O monumento Los Dedos também é uma atração de Punta Del Este. O monumento de fevereiro de 1982 realizado pelo artista plástico chileno Mario Irrazábal representa a presença do homem na natureza.</p>
            <figure>
              <p><img src="assets/images/uruguaipost/uruguaipost6.jpg"alt="#">
              <figcaption>
                <i>Punta Ballena</i>
              </figcaption>
            </figure>
            <h4>Punta Ballena</h4>
            <p class="text-muted mb-5">Ao lado de Punta del Este, Punta Ballena é uma pequena península com uma visa igualmente incrível. A extensão desse balneário é de aproximadamente 12 km</p>
            <p class="text-muted mb-5">Entre os resorts está a Casapueblo. A incrível casa foi feita e habitada pelo artista plástico uruguaio Carlos Paez Vilaró. Sua casa-escultura funciona como resort, museu, restaurante e também mirante para um pôr-do-sol de tirar o fôlego.O balneário também recebe visitas frequentes da baleia-franca e de golfinhos.</p>
            <figure>
              <p><img src="assets/images/uruguaipost/uruguaipost5.jpg"alt="#">
              <figcaption>
                <i>Punta Ballena</i>
              </figcaption>
            </figure>
            <p class="text-muted mb-5">Conhecer o Uruguai foi um ótimo aprendizado, além de ficar em paz com a tranquilidade dos lugares percebi a importante de um debate público e de uma educação de qualidade. A informação é a chave para uma sociedade melhor. O turismo no Uruguai é mais caro que outros países da América do Sul, então para fazer uma viagem econômica no país é preciso escolher bem onde ir em uma viagem para o Uruguai. </p>

            <!--FORMULARIO-->
            <h5 class="h4 mb-4">Leave a comment</h5>
            <form #f="ngForm" [formGroup]="umdiauruguaiForm" (ngSubmit)="onSubmit()" class="mb-5" [formGroup]="umdiauruguaiForm">
              <div class="row gy-3">
                <div class="col-lg-6">
                  <input class="form-control" type="text" formControlName="name" [class]="isValidField('name')" placeholder="Nome completo">
                </div>
                <div class="col-lg-6">
                  <input class="form-control" type="email" formControlName="email" [class]="isValidField('email')" placeholder="Email válido">
                </div>
                <div class="col-lg-12">
                  <textarea class="form-control" formControlName="mensagem" [class]="isValidField('menssagem')" rows="5" placeholder="Deixe seu comentário"></textarea>
                </div>
                <div class="col-lg-12">
                  <button class="btn btn-dark" type="submit" disable [disabled]="!f.valid">Enviar Comentário</button>
                </div>
              </div>
            </form>
            <!--COMMENTS-->

            <div class="umdiauruguai">
              <div class="umdiauruguai" *ngFor="let umdiauruguai of umdiauruguai">
                  
                  <div class="info">
                      <h4>{{umdiauruguai.name}}</h4>
                      <p>{{umdiauruguai.mensagem}}</p>
                  </div>
              </div>
          </div>

            <h3 class="h4 mb-4 d-flex align-items-center"><span>Comments</span><span class="text-sm ms-3 text-gray">- 3 Comments</span></h3>

            
            <hr>
          </div>

          <!-- Sidebar -->
          <div class="col-lg-4">
          <!-- About me widget -->
          <div class="mb-5 text-center"><img class="mb-3 rounded-circle img-thumbnail shadow-sm" src="assets/images/quemsoueu1.png" alt="" width="250">
            <img src="assets/image/logo-mobile.png">
            <h5>MARIA FERNANDA ROMERO</h5>
            <p class="text-sm text-muted px-sm-4">Jornalista de formação, fotografa de viagens, escritora de alma. Comecei um mochilão por curiosidade e encontrei várias formas de viver e aprender. Hoje levo uma vida nômade, viajando por onde meu coração vibra.</p>
            <ul class="list-inline text-sm mb-0">
              <li class="list-inline-item"><a class="reset-anchor" href="#!"><i class="fab fa-facebook-f"></i></a></li>
              <li class="list-inline-item"><a class="reset-anchor" href="#!"><i class="fab fa-instagram"></i></a></li>
              <li class="list-inline-item"><a class="reset-anchor" href="#!"><i class="fab fa-youtube"></i></a></li>
            </ul>
          </div>
          <!-- Categories widget -->
          <div class="mb-5 text-center">
            <a class="category reset-anchor bg-cover bg-center mb-2" [routerLink]="['/destinos']" style="background: url(assets/images/destinos.jpg)">
              <p class="category-title text-uppercase small">Destinos</p>
            </a>
            <a class="category reset-anchor bg-cover bg-center mb-2" href="#!" style="background: url(assets/images/dicas.jpg)">
              <p class="category-title text-uppercase small">Dicas</p>
            </a>
            <a class="category reset-anchor bg-cover bg-center" href="#!" style="background: url(assets/images/carossel3.jpg)">
              <p class="category-title text-uppercase small">Experiências</p>
            </a>
          </div>
          <!-- Newsletter widget -->
          <div class="mb-5">
            <h3 class="h5">NAVEGANDO EM POESIA</h3>
            <p class="text-sm text-muted"> Meu e-book de poesias e reflexões nasceu durante essa viagem pelo mundo, explorando o desconhecido e inevitavelmente, após um mergulho para dentro de mim.</p>
            <div class="row gx-0">
              <div class="col">
                <div class="overlay-content"><img class="img-fluid" src="assets/images/navegando1.png" alt="">
                </div>
              </div>
            </div>
          </div>
          <!-- Latest posts widget -->
          <div class="mb-5">
            <h3 class="h5">ÚLTIMAS POSTAGENS</h3>
            <ul class="list-unstyled">
              <li class="d-flex mb-1"><a [routerLink]="['/umdiauruguai']"><img src="assets/images/uruguaicapa.jpg" alt="" width="80"></a>
                <div class="media-body ms-3">
                  <p class="small text-primary text-uppercase mb-0">Março 2017</p>
                  <h6 class="mb-1"><a class="reset-anchor" [routerLink]="['/umdiauruguai']">De Florianopólis até Montevideú: Um roteiro de baixo custo pelo Uruguai</a></h6>
                  <p class="small text-muted">Descubra o que fazer no Uruguai e embarque na sua próxima viagem pela América do Sul</p>
                </div>
              </li>
            </ul>
          </div>
          <!-- Newsletter widget -->
          <div class="mb-5">
            <h3 class="h5">VOLUNTARIADO PELO MUNDO</h3>
            <p class="text-sm text-muted">Já pensou em trocar trabalho por hospedagem em qualquer lugar do mundo? Veja as opções disponíveis na plataforma Worldpackers.</p>
            <div class="row gx-0">
              <div class="col">
                <div><a href="https://www.worldpackers.com/es/get_verified?promo=CULTURANAVEGAVEL&utm_campaign=CULTURANAVEGAVEL&utm_medium=referral&utm_source=affiliate"><img class="img-fluid" src="assets/images/banner_3.jpg" alt=""></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</body>