<html>
    <body>
        <!-- Hero section -->
        <section class="hero bg-center bg-cover" style="background: url(assets/images/exttra.jpg)">
            <div class="dark-overlay py-5">
                <div class="overlay-content">
                    <div class="container py-5 text-white text-center">
                        <h1></h1>
                        <p></p>
                    </div>
                </div>
            </div>
        </section>
        <!-- Blog listing -->
        <section class="pt-5">
            <div class="container pt-5">
                <div class="row mb-5">
                    <div class="col-lg-8">

                        <div class="row text-center">
                            <!--AQUI É AREA DE POST-->

                            <div class="col-lg-6 mb-5"><a><img class="img-fluid mb-4" src="assets/images/uruguaicapa.jpg"></a>
                                <ul class="list-inline small text-uppercase mb-0">
                                    <small class="text-gray-500">Março | 2017</small>
                                </ul>
                                <h3 class="h4 mt-2"> <a class="reset-anchor" [routerLink]="['/umdiauruguai']">De Florianopólis até Montevideú: Um roteiro de baixo custo pelo Uruguai</a></h3>
                                <p class="text-small mb-1">Descubra o que fazer no Uruguai e embarque na sua próxima viagem pela América do Sul</p>
                            </div>

                           

                            <!--AQUI TERMINA A AREA DE POST-->

                        </div>
                        <!-- Listing navigation -->
                        <div class="p-4 bg-light mb-5">
                            <div class="row gy-2">
                                <div class="col-sm-6 text-center text-sm-start">
                                    <a class="btn btn-outline-secondary btn-sm" href="#!"><i class="fas fa-angle-left me-2"></i>Prev posts</a>
                                    
                                </div>
                                <div class="col-sm-6 text-center text-sm-end">
                                    <a class="btn btn-outline-secondary btn-sm" href="#!">Next posts<i class="fas fa-angle-right ms-2"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- Sidebar -->
                    <div class="col-lg-4">
                        <!-- About me widget -->
                        <div class="mb-5 text-center"><img class="mb-3 rounded-circle img-thumbnail shadow-sm" src="assets/images/quemsoueu1.png" alt="" width="250">
                            <img src="assets/image/logo-mobile.png">
                            <h5>MARIA FERNANDA ROMERO</h5>
                            <p class="text-sm text-muted px-sm-4">Jornalista de formação, fotografa de viagens, escritora de alma. Comecei um mochilão por curiosidade e encontrei várias formas de viver e aprender. Hoje levo uma vida nômade, viajando por onde meu coração vibra.</p><img class="d-block mx-auto mb-3"alt="" width="60">
                            <ul class="list-inline text-sm mb-0">
                                <li class="list-inline-item"><a class="reset-anchor" href="#!"><i class="fab fa-facebook-f"></i></a></li>
                                <li class="list-inline-item"><a class="reset-anchor" href="#!"><i class="fab fa-instagram"></i></a></li>
                                <li class="list-inline-item"><a class="reset-anchor" href="#!"><i class="fab fa-youtube"></i></a></li>
                            </ul>
                        </div>
                        <!-- Categories widget -->
                        <div class="mb-5 text-center">
                            <a class="category reset-anchor bg-cover bg-center mb-2" [routerLink]="['/destinos']" style="background: url(assets/images/destinos.jpg)">
                                <p class="category-title text-uppercase small">Destinos</p>
                            </a>
                            <a class="category reset-anchor bg-cover bg-center mb-2" href="#!" style="background: url(assets/images/dicas.jpg)">
                                <p class="category-title text-uppercase small">Dicas</p>
                            </a>
                            <a class="category reset-anchor bg-cover bg-center" href="#!" style="background: url(assets/images/carossel3.jpg)">
                                <p class="category-title text-uppercase small">Experiências</p>
                            </a>
                        </div>
                        <!-- Newsletter widget -->
                        <div class="mb-5">
                            <h3 class="h5">NAVEGANDO EM POESIA</h3>
                            <p class="text-sm text-muted"> Meu e-book de poesias e reflexões nasceu durante essa viagem pelo mundo, explorando o desconhecido e inevitavelmente, após um mergulho para dentro de mim.</p>
                            <div class="row gx-0">
                                <div class="col">
                                    <div class="overlay-content"><img class="img-fluid" src="assets/images/navegando1.png" alt=""></div>
                                </div>
                            </div>
                        </div>
                        <!-- Latest posts widget -->
                        <div class="mb-5">
                            <h3 class="h5">ÚLTIMAS POSTAGENS</h3>
                            <ul class="list-unstyled">
                                <li class="d-flex mb-1"><a [routerLink]="['/umdiauruguai']"><img src="assets/images/uruguaicapa.jpg" alt="" width="80"></a>
                                    <div class="media-body ms-3">
                                        <p class="small text-primary text-uppercase mb-0">Março 2017</p>
                                        <h6 class="mb-1"><a class="reset-anchor" [routerLink]="['/umdiauruguai']">De Florianopólis até Montevideú: Um roteiro de baixo custo pelo Uruguai</a></h6>
                                        <p class="small text-muted">Descubra o que fazer no Uruguai e embarque na sua próxima viagem pela América do Sul</p>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <!-- Newsletter widget -->
                        <div class="mb-5">
                            <h3 class="h5">VOLUNTARIADO PELO MUNDO</h3>
                            <p class="text-sm text-muted">Já pensou em trocar trabalho por hospedagem em qualquer lugar do mundo? Veja as opções disponíveis na plataforma Worldpackers.</p>
                            <div class="row gx-0">
                                <div class="col">
                                    <div><a href="https://www.worldpackers.com/es/get_verified?promo=CULTURANAVEGAVEL&utm_campaign=CULTURANAVEGAVEL&utm_medium=referral&utm_source=affiliate"><img class="img-fluid" src="assets/images/banner_3.jpg" alt=""></a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </body>
</html>