body {
  padding-top: 3rem;
  padding-bottom: 3rem;
  color: #5a5a5a;
}

#first-section {
  margin: 70px auto;
}
#first-section .first-section-title {
  max-width: 300px;
  margin: 0 auto;
}
#first-section .first-section-title img {
  max-width: 300px;
}
#first-section .row .bag-first-section,
#first-section .row .map-first-section {
  padding: 0;
}
#first-section .row .bag-first-section img,
#first-section .row .map-first-section img {
  max-width: 65px;
  display: flex;
}
#first-section .row .bag-first-section {
  margin-top: 100px;
}
#first-section .row .text-first-section {
  font-size: 3vw;
}

.carousel {
  margin-bottom: 4rem;
}

.container.marketing {
  --bs-gutter-x: 0;
}

.marketing .col-lg-4 {
  margin-bottom: 1.5rem;
  text-align: center;
}
.marketing .col-lg-4 p {
  margin-right: 0.75rem;
  margin-left: 0.75rem;
}

.marketing .row .col-lg-4 {
  --bs-gutter-x: 0;
}
.marketing .card-img-overlay {
  border: 1px solid #3aa7bd;
}
.marketing .card-img-overlay .card-title {
  width: 280px;
  margin: 0 auto;
  background: #3aa7bd;
  padding: 4px 10px;
  position: relative;
  color: #fff;
  text-transform: uppercase;
  top: 101%;
}

.featurette-1 {
  background: #d7ebef;
  width: 100%;
  margin-top: 30px;
}
.featurette-1 .featurette {
  --bs-gutter-x: 0;
}
.featurette-1 h2 {
  margin: 50px auto;
  text-align: center;
  font-weight: 600;
  color: #3aa7bd;
  text-transform: uppercase;
}
.featurette-1 .lead {
  text-align: center;
  padding: 0 5%;
  font-weight: 400;
  color: #212121;
}
.featurette-1 .div-img-a-viajante .img-a-viajante {
  border-radius: 50%;
  padding: 10px;
}

.featurette-2 {
  background: #3aa7bd;
}
.featurette-2 h2 {
  margin: 50px auto;
  text-align: center;
  font-weight: 600;
  color: #212121;
  text-transform: uppercase;
}
.featurette-2 .lead {
  text-align: center;
  padding: 0 5%;
  font-weight: 400;
  color: #fff;
}
.featurette-2 .img-navegando {
  border-radius: 50%;
}

.featurette-3 {
  background: #d7ebef;
}
.featurette-3 h2 {
  margin: 50px auto;
  text-align: center;
  font-weight: 600;
  color: #3aa7bd;
  text-transform: uppercase;
}
.featurette-3 .lead {
  text-align: center;
  padding: 0 5%;
  font-weight: 400;
  color: #212121;
}

.featurette-divider {
  margin: 5rem 0;
}

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
  }
}
@media (min-width: 893px) {
  .featurette-1 {
    width: 100%;
  }
  .featurette-1 h2 {
    margin: 50px auto;
    text-align: center;
  }
  .featurette-1 .lead {
    text-align: center;
    padding: 0 5%;
  }
  .featurette-1 .img-featurette-1 {
    border-radius: 50%;
    padding: 10px;
  }
  #first-section .first-section-title {
    max-width: 700px;
    margin: 0 auto;
  }
  #first-section .first-section-title img {
    max-width: 700px;
  }
  #first-section .row .bag-first-section img {
    max-width: 220px;
  }
  #first-section .row .text-first-section {
    font-size: 2vw;
  }
  #first-section .row .map-first-section img {
    max-width: 220px;
  }
}
@media (min-width: 992px) {
  .container.marketing {
    min-width: 992px !important;
  }
}
@media (min-width: 1200px) {
  .container.marketing {
    min-width: 1200px !important;
  }
}
@media (min-width: 1400px) {
  .container.marketing {
    min-width: 1400px !important;
  }
}
@media (min-width: 1920px) {
  .container.marketing {
    min-width: 1920px !important;
  }
}/*# sourceMappingURL=home.component.css.map */