<body>
    <main>
        <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="assets/images/carrossel1.jpg" class="card-img" alt="#">
                </div>

                <div class="carousel-item">
                    <img src="assets/images/carossel2.jpg" class="card-img" alt="#">
                </div>

                <div class="carousel-item">
                    <img src="assets/images/carossel3.jpg" class="card-img" alt="#">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
        
        
        <div id="first-section" class="container">
            <div class="first-section-title">
                <img src="../../../assets/image/title-first-section.png" alt="Titulo logomarca discursiva">
            </div>
            <div class="row">
                <div class="col-3 bag-first-section">
                    <img src="../../../assets/image/bag.png" alt="">
                </div>
                <div class="col-6">
                    <blockquote class="blockquote text-center text-first-section">
                        <p class="mb-0 text-center">O Cultura Navegável é um site que navega e explora diferentes formas de expressão do corpo e da mente. Aqui você vai encontrar experiências, crônicas e relatos sobre países, pessoas, culturas, comidas diferentes, danças envolventes e amores que encontrei viajando, o mundo e dentro de mim. Esse espaço também é uma plataforma de trocas entre mulheres viajantes, onde você vai encontrar relatos inspiradores, aprendizados na estrada e dicas de viagem</p>
                    </blockquote>
                </div>
                <div class="col-3 map-first-section">
                    <img src="../../../assets/image/map.png" alt="">
                </div>
            </div>
        </div>
        
        <!-- Marketing messaging and featurettes
            ================================================== -->
        <!-- Wrap the rest of the page in another container to center all the content. -->
        
        <div class="container marketing">
        
            <!-- Three columns of text below the carousel -->
            <div class="row">
                <div class="col-lg-4">
                    <div class="card" style="border: none">
                        <img src="assets/images/destinos.jpg" class="card-img" alt="#">
                        <div class="card-img-overlay">
                          <button class="card-title btn btn-primary" style="border: none;border-radius: 0;" [routerLink]="['/destinos']">Destinos</button>
                          <div class="border-title"></div>
                        </div>
                    </div>
                </div><!-- /.col-lg-4 -->
                <div class="col-lg-4">
                    <div class="card" style="border: none">
                        <img src="assets/images/experiencias.jpg" class="card-img" alt="#">
                        <div class="card-img-overlay">
                            <button class="card-title btn btn-primary" style="border: none;border-radius: 0;">Experiências</button>
                        </div>
                    </div>
                </div><!-- /.col-lg-4 -->
                <div class="col-lg-4">
                    <div class="card" style="border: none">
                        <img src="assets/images/dicas.jpg" class="card-img" alt="#">
                        <div class="card-img-overlay">
                          <button class="card-title btn btn-primary" style="border: none;border-radius: 0;">Dicas</button>
                        </div>
                    </div>
                </div><!-- /.col-lg-4 -->
            </div><!-- /.row -->
        
        
            <!-- START THE FEATURETTES -->
        
            <!-- <hr class="featurette-divider"> -->

            <div class="featurette-1">
                <div class="row featurette">
                    <div class="col-md-7 row-feature-section">
                        <h2 class="featurette-heading fw-normal lh-1">A Navegante <span class="text-muted"></span></h2>
                        <p class="lead"> Jornalista de formação, fotografa de viagens, escritora de alma. Comecei um mochilão por curiosidade e encontrei várias formas de viver e aprender. Hoje levo uma vida nômade, viajando por onde meu coração vibra.</p>
                    </div>
                    <div class="col-md-5 div-img-a-viajante">
                        <span class="border border-1"></span>
                        <svg class="img-a-viajante img-featurette-1 bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto card" width="400" height="400" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text>
                            <image height="100%" xlink:href="assets/images/quemsoueu1.png"></image>
                        </svg>
                    </div>
                    <button class="card-title btn btn-primary" style="border: none;">Clique Aqui</button>
                </div>
            </div>
        
            <!-- <hr class="featurette-divider"> -->
            <div class="featurette-2">
                <div class="row featurette">
                    <div class="col-md-7 order-md-2 row-feature-section" >
                        <h2 class="featurette-heading fw-normal lh-1">Navegando em Poesia <span class="text-muted"></span></h2>
                        <p class="lead">Meu e-book de poesias e reflexões nasceu durante essa viagem pelo mundo, explorando o desconhecido e inevitavelmente, após um mergulho para dentro de mim. Essa viagem trouxe autoconhecimento e também um autoacolhimento, que compartilho em forma de palavras com outras almas ciganas, que exploram o mundo ou o seu próprio universo interior.</p>
                    </div>

                    <div class="div-navegando col-md-5 order-md-1">
                        <svg class="img-navegando bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto card" width="300" height="400" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text>
                            <image height="100%" xlink:href="assets/images/libro2.jpeg"></image>
                        </svg>
                    </div>
                    <button class="card-title btn btn-primary order-md-3" style="border: none;">Clique Aqui</button>
                </div>
            </div>
        
            <!-- <hr class="featurette-divider"> -->
            <div class="featurette-3">
                <div class="row featurette">
                    <div class="col-md-7 row-feature-section">
                        <h2 class="featurette-heading fw-normal lh-1">Minas Pela Estrada <span class="text-muted"></span></h2>
                        <p class="lead"> Inspirada em mulheres que viajam sozinhas, esse espaço é para contar as nossas histórias e mostrar as muitas possibilidades para mulheres viajarem o mundo. Sim, Mulher pode viajar, para onde ela quiser!</p>
                    </div>

                    <div class="col-md-5">
                        <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto card" width="400" height="400" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text>
                            <image height="100%" xlink:href="assets/images/minas1.jpg"></image>
                        </svg>
                    </div>
                    <button class="card-title btn btn-primary" style="border: none;">Clique Aqui</button>
                </div>
            </div>

            <!-- Latest Posts -->
            <section>
                <div class="container ultimo-post">
                    <header class="mb-5"> 
                        <h2>Ultimas Postagens</h2>
                    </header>
                    <div class="row gy-4">
                        <div class="col-md-4"><a class="mb-3" href="post.html"><img class="img-fluid" src="assets/images/destinos.jpg" alt="..."/></a>
                        <div class="d-flex align-items-center justify-content-between mb-2"><small class="text-gray-500">20 May | 2016</small><a class="small fw-bold text-uppercase small" href="!#"></a></div>
                        <h3 class="h4"><a class="text-dark" href="post.html">Ways to remember your important ideas</a></h3>
                        <p class="text-muted text-sm">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.</p>
                        </div>
                        <div class="col-md-4"><a class="mb-3" href="post.html"><img class="img-fluid" src="assets/images/dicas.jpg" alt="..."/></a>
                        <div class="d-flex align-items-center justify-content-between mb-2"><small class="text-gray-500">20 May | 2016</small><a class="small fw-bold text-uppercase small" href="!#"></a></div>
                        <h3 class="h4"><a class="text-dark" href="post.html">Diversity in Engineering: Effect on Questions</a></h3>
                        <p class="text-muted text-sm">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.</p>
                        </div>
                        <div class="col-md-4"><a class="mb-3" href="post.html"><img class="img-fluid" src="assets/images/experiencias.jpg" alt="..."/></a>
                        <div class="d-flex align-items-center justify-content-between mb-2"><small class="text-gray-500">20 May | 2016</small><a class="small fw-bold text-uppercase small" href="!#"></a></div>
                        <h3 class="h4"><a class="text-dark" href="post.html">Alberto Savoia Can Teach You About Interior</a></h3>
                        <p class="text-muted text-sm">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.</p>
                        </div>
                    </div>

                    <hr>

                    <div class="row gy-4">
                        <div class="col-md-4"><a class="mb-3" href="post.html"><img class="img-fluid" src="assets/images/europa.jpg" alt="..."/></a>
                        <div class="d-flex align-items-center justify-content-between mb-2"><small class="text-gray-500">20 May | 2016</small><a class="small fw-bold text-uppercase small" href="!#"></a></div>
                        <h3 class="h4"><a class="text-dark" href="post.html">Alberto Savoia Can Teach You About Interior</a></h3>
                        <p class="text-muted text-sm">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.</p>
                        </div>
                        <div class="col-md-4"><a class="mb-3" href="post.html"><img class="img-fluid" src="assets/images/africa.jpg" alt="..."/></a>
                        <div class="d-flex align-items-center justify-content-between mb-2"><small class="text-gray-500">20 May | 2016</small><a class="small fw-bold text-uppercase small" href="!#"></a></div>
                        <h3 class="h4"><a class="text-dark" href="post.html">Ways to remember your important ideas</a></h3>
                        <p class="text-muted text-sm">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.</p>
                        </div>
                        <div class="col-md-4"><a class="mb-3" href="post.html"><img class="img-fluid" src="assets/images/pelomundo1.jpg" alt="..."/></a>
                        <div class="d-flex align-items-center justify-content-between mb-2"><small class="text-gray-500">20 May | 2016</small><a class="small fw-bold text-uppercase small" href="!#"></a></div>
                        <h3 class="h4"><a class="text-dark" href="post.html">Diversity in Engineering: Effect on Questions</a></h3>
                        <p class="text-muted text-sm">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore.</p>
                        </div>
                        
                    </div>
                </div>
            </section>
        </div><!-- /.container -->
    </main>
    <script src="../assets/dist/js/bootstrap.bundle.min.js"></script>
</body>
